<h1><%= @deck.name %></h1>

<p>You've completed a round of <%= @deck.name %>. You answered <%= session[:correct_first_guesses] %> / <%= @deck.cards.count %> cards correctly on the first try. You submitted  <%= session[:total_guesses] %> total guesses before each card was answered correctly.</p>
