<h1><%= @card.deck.name %> Trivia</h1>

<form class="question_card" action="" method="post">
  <h2><%= @card.question %></h2>
    <!-- Create a loop through the array of questions to display -->
    <ul>
      <% @card.possible_answers.each do |possible_answer| %>
        <li>
          <input type="radio" id="<%= "option_#{possible_answer.id}" %>" name="selector">
          <label for="<%= "option_#{possible_answer.id}" %>"><%= possible_answer.answer %></label>
          <div class="check"><div class="inside"></div></div>
        </li>
      <% end %>
    </ul>
  <input type="submit" value="suds it">
</form>
